{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary" href="{{ path('index') }}">Revenir à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
