{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Nom }}</td>
                <td>{{ article.Prix }}</td>
                <td>{{ article.category ? article.category.titre : "" }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
                    <a class="btn btn-danger" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('article_new') }}">Ajouter</a>
{% endblock %}
