{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau article</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('index') }}">Revenir à la liste</a>
{% endblock %}
