<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Titre
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('index') }}">Home
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('article_new') }}">Ajouter article</a>
          <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('new_category') }}">Ajouter catégorie</a>
          <span class="sr-only">(current)</span>
          </a>
        </li>
    </ul>
      
    </div>
  </div>
</nav>